<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <a th:href="@{/admin/positions}">
        <button>
            Должности
        </button>
    </a>
    <a th:href="@{/admin/employees}">
        <button>
            Сотрудники
        </button>
    </a>
    <a th:href="@{/admin/positions}">
        <button>
            Кандидаты
        </button>
    </a>
</h1>
</body>
</html>