<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SoftwareSeekers</title>
</head>
<body>
<h1>
    <a th:href="@{/admin/departments}">
        <button>
            Отделы
        </button>
    </a>
    <a th:href="@{/admin/languageNames}">
        <button>
            Иностранные языки
        </button>
    </a>
    <a th:href="@{/admin/languageQuestions}">
        <button>
            Вопросы по иностранному языку
        </button>
    </a>
    <a th:href="@{/admin/positionQuestions}">
        <button>
            Технические вопросы
        </button>
    </a>
    <a th:href="@{/admin/cityCompanies}">
        <button>
            Филиалы компании
        </button>
    </a>
    <a th:href="@{/admin/candidates}">
        <button>
            Кандидаты
        </button>
    </a>

    <a th:href="@{/admin/vacancies}">
        <button>
            Вакансии
        </button>
    </a>
    <a th:href="@{/admin/getProfile}">
        <button>
            Профиль
        </button>
    </a>
    <a th:href="@{/admin/skills}">
        <button>
            Навыки
        </button>
    </a>
</h1>
</body>
</html>