<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SoftwareSeekers</title>
</head>
<body>
<div class="header">
    <table >
        <tr>
            <td id="td1">
                <img th:src="" height="65px">
            </td>
            <td id="td2"><ul id="navbar">
                <li><a th:href="@{/registration}" style="color:black; text-decoration:none">Зарегистрироваться</a></li>
                <li><a th:href="@{/login}" style="color:black; text-decoration:none">Войти</a></li>
            </ul></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="company">

    </div>
    <div class="vacancy">

    </div>
    <div class="candidate">

    </div>
    <div class="article">

    </div>
</div>
<div class="footer">
    <p>Chementsova Sasha, 2023</p>
</div>
</body>
</html>