<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/hr/vacancies}">
    <button>
        Вакансии
    </button>
</a>
<a th:href="@{/hr/getProfile}">
    <button>
        Профиль
    </button>
</a>
<a th:href="@{/hr/positionQuestions}">
    <button>
        Технические вопросы
    </button>
</a>
<a th:href="@{/hr/languageQuestions}">
    <button>
        Вопросы по иностранному языку
    </button>
</a>
</body>
</html>